{% extends 'base.html' %}
{% load static %}

{% block title%}Contact Page{% endblock %}

{% block scripts %}
{# <script type="text/javascript" src="{% static 'js/captureOutboundLinks.js' %}"></script> #}
{% endblock %}

{% block content-fluid %}
	<div class="jumbotron text-center">
		<h1>Welcome to the Contacts</h1>
		<h3>Here you will weigh in on issues about the development of the website, ask questions, or come to us about a concern</h3>
	</div>
{% endblock %}

{% block content %}
	<h3>Before we begin let's get a few things straight.</h3><br><br>
		<h4>
			<ul>
				<li> Unless you have urgent information about Luna's health please do not comment on how we care for her.</li>
				<li>Please do not ask questions that are addressed elsewhere.</li>
				<li>Keep in mind this is my first site and I am the only one working on it so please be patient and unless you have dev experience do not comment on my developement practices.</li>
				<li>You are talking to real people, don't be rude and think before you speak.</li>
				<li>Some things are less urgent than others, and because it is only me coding this entire endeavor it might take me a while to get around to something</li>
				<li>I am completely willing to do free lancing development work. If you would like me to make a website for you please contact me I'll make sure yo get back to you A.S.A.P.</li>
			</ul>
		</h4>
	<h3>There are a few issues we require input on.</h3><br><br>
		<h4>
			Firstly on the feature side:<br><br>
			<ul>
				<li>Featured dogs on the home page and in the gallery</li>
				<li>A merch store</li>
				<li>A request system for blog posts, and reviews</li>
			</ul><br><br>
			On the dev side:<br><br>
			<ul>
				<li>Are we hitting limitations with our current hosting system? If you often get weird error pages that may be because we are hosting entirely for free meaning a lot of limitations</li>
				<li>Do you want to see the source code? If enough people want this I'll put an edited version of the code in a public github repository. The live code will still remain private</li>
			</ul>
			<br><br>
			If you do happen to have other ideas feel free to contact us about that too, but these are the main issues right now.
		</h4>
	<br><br>
	<h3>Without furthur ado here's how to contact us:</h3>
	<h4>
		<ul>
			<li>For website related things <a href="mailto:lunadoglimerick@gmail.com">lunadoglimerick@gmail.com</a></li>
			<li>For dev work offers <a href="mailto:caelindevwork@gmail.com">caelindevwork@gmail.com</a></li>
			<li><a href="https://www.instagram.com/luna.dog.limerick/" >Instagram</a></li>
			{# <li><a href="#">Facebook</a></li>#}
			<li><a href="https://www.tiktok.com/@luna.dog.limerick" >TikTok</a></li>
		</ul>
	</h4>

{% endblock %}