#catchPhrase {
	padding-right: 25px;
	padding-left: 10px
}

#nav {
	font-size: 25px;
	background: rgb(92, 225, 230);
}

.btn-fix {
padding: 0;
border: none;
white-space: normal;
color: black;
text-align: left;
}
