#newPostsBanner {
	border-radius: 15px 50px;
	background: #2eb82e;
}

#featuredPostsBanner {
	border-radius: 15px 50px;
	background: #cc0000;
}

#allPostsBanner {
	border-radius: 15px 50px;
	background: #0066ff;
}

#featuredReviewsBanner {
	border-radius: 15px 50px;
	background: #0066ff;
}

.carousel {
	padding: 30px;
}
