{% extends 'base.html' %}
{% block content %}
	<div class="text-center" style="display: flex; justify-content: center;">
		<h1>404</h1><br><br>
		<hr>
		<h3>Uh oh we can't find what you're looking for!</h3><br>
		<h3>If you typed in the url yourselF check the spelling.</h3><br>
		<h3>If you clicked a link on the page please contact us on our contact page.</h3><br>
		<h4><a href="/contact" class="btn btn-info">Contact us</a><a href="/home" class="btn btn-primary">Return to the Home Page</a></h4>
{% endblock %}
